.btn {
  max-width: 246px;
  width: 100%;
  min-height: 54px;
  font-size: 18px;
  font-family: "Recursive", cursive;
  font-weight: 400;
  color: #d70900;
  padding: 11px 30px;
  border: 1px solid #d70900;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.btn.restart {
  min-height: initial;
  height: 37px;
  width: 167px;
  font-size: 14px;
  background-color: #fb6b6b;
  color: #fff;
  padding: 0;
  margin-top: 27px;
  border: none;
}

.btn:disabled {
  opacity: 0.6;
  pointer-events: none;
  background-color: #fff;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
