@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;700&family=Righteous&family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --bg: #fb6b6b;
  --color-text: #fff;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--bg);
}

.root {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

/* Welcome Page */

.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.welcome-page header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.welcome-page header img {
  max-width: 136px;
  width: 100%;
  margin-bottom: 13px;
}

.welcome-page .title {
  font-size: 36px;
  line-height: 41px;
  font-weight: 400;
  font-family: "Righteous", sans-serif;
  color: var(--color-text);
  margin-bottom: 30px;
}

.btn {
  max-width: 246px;
  width: 100%;
  min-height: 54px;
  font-size: 18px;
  font-family: "Recursive", cursive;
  font-weight: 400;
  color: #d70900;
  padding: 11px 30px;
  border: 1px solid #d70900;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Flashcards page */

.home {
  width: 90%;
}

.header {
  margin-top: 20px;
  margin-bottom: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header img {
  width: 26px;
  height: 30px;
  margin-right: 5px;
}

.header .title {
  font-size: 20px;
  line-height: auto;
  font-family: "Righteous", sans-serif;
  color: var(--color-text);
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #ffffd5;
  padding: 9px 8px;
  border-radius: 5px;
  max-width: 450px;
  width: 100%;
  margin-bottom: 5px;
  transition: max-height 0.3s ease-in;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}

.card p {
  font-family: "Recursive", cursive;
  font-size: 16px;
  font-weight: 700;
}

.card .action-btn {
  padding: 10px;
  cursor: pointer;
}

.card .action-btn img {
  height: 22px;
  color: #333;
  cursor: pointer;
}

.card.show {
  margin-bottom: 13px;
  min-height: 80px;
  align-items: flex-start;
}

.card .front img {
  height: 13px;

  position: absolute;
  bottom: 7px;
  right: 10px;
}

.card .front,
.card .back {
  width: 100%;
}

.card .front p,
.card .back p {
  margin: 13px 0;
  font-weight: 400;
}

.card .back .options {
  display: flex;
  justify-content: space-between;
}

.red {
  background-color: #ff3030;
}

.yellow {
  background-color: #ff922e;
}

.green {
  background-color: #2fbe34;
}

.back .options .btn {
  color: white;
  width: 30%;
  border: none;
  height: initial;
  padding: 11px 10px;
}
