@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;700&family=Righteous&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*  -------------------- */
/* 
   FIX
   Previne problema referente ao iframe
   que aparece quando atualizo a base de código

   mais informações:
   https://stackoverflow.com/questions/70499543/create-react-app-creates-this-iframe-that-prevents-me-from-clicking-or-editing
*/

iframe {
  pointer-events: none;
}

/*  -------------------- */

body {
  height: 100vh;
  background-color: #fb6b6b;
}

.root {
  width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
